.hobb-nav{
    display: flex;
    justify-content: center;
}

.hobb-body{
    width: 60vw;
    background-color: #e8b9d4;
    height: 60vh;
    margin: 1em 0em;
    padding: .2em 1em;
    border-radius: 1em;
}

.Hobbyist{
    gap: 1em;
    display: flex;  
    width: fit-content;
    padding: .5em 2vw;
    border-radius: 2em;
    
}

.Hobbyist > *{
    background: none;
	color: inherit;
	border: none;
	padding: .4em .5em;
    border-radius: 2em;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    background-color: #f5cee5;
}

.Hobbyist > *:hover{
    -webkit-transition: all ease-in-out 200ms;
    background-color: #e8b9d4;
}