
    .Nav{
        position: fixed;
        margin-bottom: 5vh;
        font-weight: 600;
        width: 60vw;
        background-color: #FCE9F1;
        padding-top:3.5em;
        padding-bottom: 1.5em;
        top:0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.1em;
    }

    .Nav > *{
        display: inline;
    }

    .Nav .Logo .navbar-toggle {
        display: none;
    }

    .Nav .Navlinks{
        display: flex;
        justify-content: space-around;
        gap: 1vw;
        width: 25vw;
        float: right;   
    }

    .Nav .Navlinks > *{
        text-decoration: none;
        color: #453F78;
        transition: .3s;
    }

    .Nav .Navlinks >*:hover{
        color: black;
        font-weight: 600;
    }

@media (max-width: 800px) {
    .Nav .Navlinks{
        display: none;
  
    }
    .Nav{
        width:100%;
        display: block;
    }

    .Nav .Logo{
        width:80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .Nav .Logo .navbar-toggle {
        display: flex;
        float: right;
        width: fit-content;
        margin: 0;
    }
    .Nav .On{
        display: flex;
        flex-direction: column;
        gap: 1.1rem;
        overflow: hidden;
        align-items: center;
        justify-content:start;
        margin-top: 5vh;
        min-height: 100vh;
        width: 120%;

    }
}