@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0
}

:root {
    /* Define custom properties */
    --white: #F3F7EC;
    --pale: #DAD3BE;
    --light: #E88D67;
    --med: #006989;
    --dark: #005C78;
    --black: #222831;
    --large: 10em;
  
  }

body{
    background-color: var(--white);
}

.Title{
    color: var(--dark);
    font-size: var(--large);
    font-weight: 600;
    width: 50vw;
}