@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Gwendolyn:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin:0
}

:root {
    /* Define custom properties */
    --white: #F3F7EC;
    --pale: #DAD3BE;
    --light: #E88D67;
    --med: #006989;
    --dark: #005C78;
    --black: #222831;
    --large: 10em;
    --text-size: 2em;
  }

  body{
    margin: 0;
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      background-color: var(--white);
  }
  
  main {
    display: block;
    flex: 1 0 auto;
  }

.Title{
    color: var(--dark);
    font-size: var(--large);
    font-weight: 600;
    width: 50vw;
}

.PockerCard{
  background-image: repeating-linear-gradient(36deg, rgba(255,255,255, 0.4), rgba(255,255,255, 0.4) 1px, transparent 5px, transparent 5px);
}