@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0
}

:root {
    /* Define custom properties */
    --white: #F3F7EC;
    --pale: #DAD3BE;
    --light: #E88D67;
    --med: #006989;
    --dark: #005C78;
    --black: #222831;
    --large: 10em;
    --text-size: 2em;
  }

  body{
    margin: 0;
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      background-color: var(--white);
  }
  
  main {
    display: block;
    flex: 1 0 auto;
  }

.Title{
    color: var(--dark);
    font-size: var(--large);
    font-weight: 600;
    width: 50vw;
}
