
.Box{
    margin: 4vh 1vw ;
    gap: 3.5vw;
    background-color: #F1D4E5;
    padding: 5em 3em;
    border-radius: 2em;
    box-shadow:  3px 5px 4px #BB8493, -2px -3px 2px #DBAFA0; 
    max-width: 12vw;
    height: 30vh;
}



