
.Heading button{
    background: none;
    background-color: #F1D4E5;
	color: inherit;
	border: none;
	padding: .5em;
	cursor: pointer;
	outline: inherit;
    font-size: 1em;
    font-weight: 500;
    border-radius: .5em;
    color: #252468;
  
}

.Heading{
    margin-bottom: 0em;
}
