
.Home .Content{
    margin:  1vw ;
    display: flex;
    gap: 3.5vw;
    background-color: #F1D4E5;
    padding: 3em 3em 0em;
    border-radius: 2em;
    box-shadow:  3px 5px 4px #BB8493, -2px -3px 2px #DBAFA0; 
}

.Home .Image{
    /* background-image: linear-gradient(#B5C0D0, #49243E);  */
    padding: .2em;
    box-shadow:  5px 7px 6px #BB8493, -4px -5px 4px #DBAFA0; 
}